<!-- Bottom Action Bar Component -->
<div class="bottom-action-bar">
    <div class="bottom-bar-container">
        <div class="bottom-bar-title">Bize Ulaşın</div>
        <div class="bottom-bar-actions">
            <a href="#dijital-asistan" class="bottom-bar-link">
                <i class="fas fa-face-smile"></i>
                <span>Dijital Asistan'a<br>Sorun</span>
            </a>
            <a href="#cozum-bulun" class="bottom-bar-link">
                <i class="fas fa-gear"></i>
                <span>Size en uygun<br>Logo çözümünü bulun</span>
            </a>
            <a href="https://wa.me/YOUR_NUMBER" class="bottom-bar-whatsapp" target="_blank">
                <i class="fab fa-whatsapp"></i>
                <span>Logo çözümleriyle ilgili<br><strong>Bilgi al</strong></span>
            </a>
        </div>
    </div>
</div>